.cover {
  margin: 92px auto;

  max-width: 1184px;
  min-width: 320px;
}
@media (max-width: 1279px) {
  .cover {
    margin: 88px auto 92px;
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .cover {
    margin: 90px auto 88px;
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin: 59px auto 64px;
  }
}
