.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .place__url-heading {
    max-width: 288px;
  }
}
